@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AntonioLight';
    src: url('../fonts/antonio-light-webfont.eot');
    src: url('../fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/antonio-light-webfont.woff2') format('woff2'),
         url('../fonts/antonio-light-webfont.woff') format('woff'),
         url('../fonts/antonio-light-webfont.ttf') format('truetype'),
         url('../fonts/antonio-light-webfont.svg#antoniolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'),
         url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 

* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  max-width: 16000px;
}

header {
  background: url(../img/top-bg.jpg) 50% 0 no-repeat;
  height: 514px;
  position: relative;
  overflow: hidden;
}

.header__menu__logo {
  margin-top: 65px;
  text-align: center;
}

.logo {
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size:  2.25rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1); 
}

.logo--end {
  color: #855f94;
  text-shadow: none;
} 
/*------TOP MENU------*/

.header__menu--960 {
  display: none;
}

.header__menu {
  width: 100px;
  border: 1px solid transparent;
  margin-top: 22px;
  text-align: center;
  left: 50%;
  position: absolute;
  margin-left: -50px;
}

.menu__list {

}

.menu__item {
  list-style-type: none;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.7rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.menu__link:hover {
  border-bottom: 2px solid #edbfff;
  text-shadow: 0px 0px 12px #fff;
}

.menu__list_submenu {
  display: none;
}

.menu__item:hover .menu__list_submenu {
  display: block;
}

/*------SLIDER------*/
.slider {
  width: 100%;
  position: absolute;
  top: 350px;
  left: 50%;
  margin-left: -50%;
}

.slider__head {
  font-size: 1.688rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fff;
  text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
  text-transform: capitalize;
  font-weight: 100;
  margin-left: 0px;
  text-align: center;
}

.slider__text {
  font-weight: 100;
  font-size: 0.875rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #edbfff;
  text-shadow: 0px 2px 2px rgb( 0, 0, 0 );
  margin-left: 0px;
  text-align: center;
}

.slider__text--480 {
  display: none;
}

.left-arrow {
  width: 30px;
  height: 45px;
  background: url("../img/left-arrow.png") -6px -3px no-repeat;
  margin-top: 10px;
  float: left;
} 

.left-arrow:hover {
  background: url("../img/left-arrow.png") -36px -3px no-repeat;
}

.right-arrow {
  width: 30px;
  height: 45px;
  background: url("../img/right-arrow.png") -37px -3px no-repeat;
  margin-top: 10px;
  float: right;
} 

.right-arrow:hover {
  background: url("../img/right-arrow.png") -5px -3px no-repeat;
}

.dotnav {
  width: 85px;
  height: 20px;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -40px;
} 

.dotnav__list {
  list-style: none;
}

.dotnav__link {
  display: block;
  width: 17px;
  height: 17px;
}

.dotnav__item {
  width: 17px;
  height: 17px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: inline-block;
} 

.dotnav__item:hover {
  background: rgba(255,255,255,0.5);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
  box-shadow: inset 0px 0px 0px 3px rgba(0,0,0,0.5);
}

.block__about {
  background: linear-gradient(#755183, #36293e);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  position: relative;
  overflow: hidden;
  padding: 70px 0px 63px;
  width: 100%;
}

.about__news {
  max-width: 260px;
  margin: auto;
  padding: 10px 0;
}

.about__news__sprite1 {
  background: url('../img/sprite_shapes-icons3.png') -4px -11px no-repeat;
  margin: 14px 8px;
  float: left;
  width: 26px;
  height: 26px;
} 

.about__news__sprite2 {
  background: url('../img/sprite_shapes-icons3.png') -41px -11px no-repeat;
  margin: 14px 8px;
  float: left;
  width: 27px;
  height: 26px;
}

.about__news__sprite3 {
  background: url('../img/sprite_shapes-icons3.png') -78px -12px no-repeat;
  margin: 14px 8px;
  float: left;
  width: 26px;
  height: 26px;
}

.about__news__head {
  text-transform: uppercase;
  font-size: 1.125rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fff;
  font-weight: 100;
  text-shadow: 1px 1px 0px rgb(15, 21, 24);
  margin-left: 20%;
}

.about__news__text {
  text-shadow: 0.5px 0.866px 0px rgb( 15, 21, 24 );
  font-family: "OpenSansLight", Arial, sans-serif;
  color: #fff;
  font-weight: 100;
  margin-left: 20%;
  overflow: hidden;
  font-size: 0.8rem;
  max-height: 3.375rem;
  line-height: 1.125rem;
}

.about__news__more {
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9rem;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #fff;
  font-weight: lighter;
  text-shadow: 0.5px 0.866px 0px rgb( 15, 21, 24 );
  margin-left: 0px;
  float: right;
}

.about__news__more:hover {
  text-shadow: 0px 0px 14px #fff;
}

/*------CONTENT------*/
.block__content {
  height: 1200px;
  width: auto;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

.content__articles {
  background-color: #fff;
  display: inline-block;
  margin: 70px 40px;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2);
}

.articles__head-holder{
  margin: 25px 0 0 45px;
}

.articles__pic {
  background: url(../img/avatar.png) center center no-repeat;
  width:48px;
  height: 48px;
  float: left;
  margin-top: 23px;
  margin-left: -24px;
}

.articles__head {
  font-size: 1.375rem;
  font-weight: 100;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: #edbfff;
  text-transform: uppercase;
  text-align: left;
  line-height: 1.6rem;
}

.articles__head:first-child {
  color: #454545;
}

.articles__text {
  margin: 0px 0 0 45px;
  margin-bottom: 10px;
  max-width: 75%;
  max-height: 11rem;
  overflow: hidden;
  display: inline-block;
  text-align: left;
  font-family: "OpenSansLight", Arial, sans-serif;
  font-size: 1rem;
}

.dotnav--white {
  margin-left: -44px;
  left: 50%;
  margin-top: 30px;
  position: absolute;
}

.dotnav--white .dotnav__item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0,0,0,0.2);
}

.dotnav--white .dotnav__item:hover {
  border: 1px solid rgba(0,0,0,.2);
  background: rgba(0,0,0,.6);
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
  box-shadow: inset 0px 0px 0px 3px rgba(255,255,255,1);
}

.updates {
  display: inline-block;
  min-width: 300px;
  height: 275px;
  position: relative;
  left: 50%;
  margin-left: -130px;
  margin-top: 90px;
}

.updates__main-article {
  font-size: 1.375rem;
  font-weight: 100;
  font-family: "LeagueGothicRegular", Arial, sans-serif;
  color: rgb(69, 69, 69);
  text-align: left;
  text-transform: uppercase;
}

.updates__box-list {
  margin: 25px 0 0 45px;
}

.updates__header {
  text-align: left;
  font-family: "OpenSansLight", Arial, sans-serif;
}

.updates__text {
  text-align: left;
  font-family: "OpenSansLight", Arial, sans-serif;
}

.updates__link-more {
  font-size: 0.875rem;
  line-height: 3rem;
  font-family: "LeagueGothicRegular", tahoma, arial, sans-serif;
  text-transform: uppercase;
  color: rgb(69, 69, 69);
  font-weight: 100;
  text-decoration: none;
  position: absolute;
  left: 233px;
}

.updates__link-more:hover {
  text-decoration: underline;
}

.bokeh__list {
  list-style: none;
  position: absolute;
  top: 36px;
  left: -20px;
}

.bokeh__item1 {
  width: 50px;
  height: 50px;
  background: url(../img/bokeh.png) center 0px no-repeat;
  border-radius: 50%;
  position: absolute;
  left: -20px;
}

.bokeh__item2 {
  width: 50px;
  height: 50px;
  background: url(../img/bokeh.png) 0px center no-repeat;
  border-radius: 50%;
  position: absolute;
  left: -20px;
}
.bokeh__item3 {
  width: 50px;
  height: 50px;
  background: url(../img/bokeh.png) center center no-repeat;
  border-radius: 50%;
  position: absolute;
  left: -20px;
}
 
.content__line {
    width: auto;
    height: 1px;
    background-color: #e6e6e6;
    border-bottom: #fff 1px solid;
    margin-top: 50px;
}
.sponsors-list {
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 50%;
  margin-left: -150px;
}

.sponsors-list__item {
  margin: 20px 20px;
}

footer {
  background: url(../img/footer.jpg) center center no-repeat;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}

.designed {
  font-family: "OpenSansLight", Arial, sans-serif;
  color: #fff;
  text-shadow: 1px 1.732px 2px rgb( 0, 0, 0 );
  padding-top: 50px;
}

.designed__text {
  display: inline;
  font-size: 0.8rem;
}

.designed__company-name {
  display: inline;
  font-size: 0.8rem;
}

.menu--footer {
  display: none;
}

.categories{
  display: none;
}